<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <center>
        <div class="card" style="width:600px;margin:10px;padding:10px;">
            <h1>Adicionar filme</h1>
            <hr>
        
                <div>
                    <div class="alert" id="alert"></div>
                    <label class="form-label" style="float:left;">Nome</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
                <div>
                    <label class="form-label" style="float:left;">Gênero</label>
                    <select name="genre" id="genre" class="form-control">
                        <option value="terror">Terror</option>
                        <option value="romance">Romance</option>
                        <option value="aventura">Aventura</option>
                        <option value="ação">Ação</option>
                        <option value="drama">Drama</option>                        
                    </select>
                </div>
                <div>
                    <label class="form-label" style="float:left;">Data de lançamento</label>
                    <input type="date" name="releaseDate" id="releaseDate" class="form-control">
                </div>
                <div>
                    <label class="form-label" style="float:left;">Restrição de idade</label>
                    <input type="number" name="ageConstraint" id="ageConstraint" min="10" max="18" class="form-control">
                </div>
                <button id="submit-button" class="btn btn-primary" style="margin-top:10px;">Adicionar filme</button>
                <a href="http://localhost:8080/view/index">Voltar</a>
        </div>
    </center>
    <script>
        document.getElementById("submit-button").addEventListener("click",async (event)=>{
                let request = await fetch("http://localhost:8080/movies",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json; charset=UTF-8"
                },
                body: JSON.stringify({
                    title: document.getElementById("title").value,
                    releaseDate: document.getElementById("releaseDate").value,
                    genre: document.getElementById("genre").value,
                    ageConstraint: document.getElementById("ageConstraint").value,
                })
            }).then((response)=>{
                console.log(response.status)
                const alert = document.getElementById("alert")
                if(response.status == 201){
                    alert.classList.remove("alert-danger")
                    alert.classList.add("alert-success")
                    alert.textContent = "Filme adicionado com sucesso"
                    alert.style.display = "block"
                }else{
                    alert.classList.remove("alert-success")
                    alert.classList.add("alert-danger")
                    alert.textContent = "Falha ao adicionar o filme"
                    alert.style.display = "block"
                }
            })
        })
    </script>
</body>
</html>